In [6]:
# tuple 

t1 = (1, 5, 7)
print(type(t1))

t2 = ()
print(type(t2))

t3 = (10)
print(type(t3))

t4 = (10,)
print(type(t4))

t5 = 11, 6, 3, 10
print(type(t5))

t5 = 11, 6, 3, 10,
print(type(t5))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [19]:
#  indexing in tuple 

print(t1[0])
print(t1[-1], t1[-2], t1[-3])

# range
r = range(10, 20, 1)
print(r[5])
print(r[7])
print(r[3])
print(r[2])

1
7 5 1
15
17
13
12

In [3]:
# Accessing tuple elements
t1 = (10, 5, 20, 15)

# first method using index number
print(t1[0])

# second method using while loop 
i = 0
while(i<len(t1)):
    print(t1[i])
    i = i+1

# Third method using for loop
for a in t1 :
    print("a in t1", a)

10
10
5
20
15
a in t1 10
a in t1 5
a in t1 20
a in t1 15

In [7]:
# Built in methods 
print(t1)

print(len(t1))

print(min(t1))

print(max(t1))

print(sum(t1))

print(sorted(t1))

(10, 5, 20, 15)
4
5
20
50
[5, 10, 15, 20]

In [13]:
# Concatination and Repetation Operator 
print(t1)
t2 = (10, 30, 40, 50, 60)
print(t2)

print(t1+t2)
print(t1*3)

(10, 5, 20, 15)
(10, 30, 40, 50, 60)
(10, 5, 20, 15, 10, 30, 40, 50, 60)
(10, 5, 20, 15, 10, 5, 20, 15, 10, 5, 20, 15)

In [16]:
# Comparison Operator 
print(t1)
print(t2)

print(t1 < t2)

(10, 5, 20, 15)
(10, 30, 40, 50, 60)
True

In [23]:
# Tuple object methods 
print(t1)
print(t1.index(5))
print(t1.index(15))


print(t1.count(5))

(10, 5, 20, 15)
1
3
1

In [28]:
# Slicing Operator 
t1 = (10, 4, 3, 2, 9, 1, 3, 4, 5)
print(len(t1))

print(t1[2:8:2])

print(t1[ : : -1])

9
(3, 9, 3)
(5, 4, 3, 1, 9, 2, 3, 4, 10)